@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,300;1,300&display=swap');

:root {
    /*colors*/
    --clr-main: #12372A;
    --clr-secondary: #436850;
    --clr-highlight: #ADBC9F;
    --clr-light: #FBFADA;
    /*text*/
    --font-general: 'Lato', sans serif;
    --font-titles: 'DM', sans serif;
    /*hero-sizes*/
    --hero-large: 5rem;
    --hero-medium: 4.5rem;
    --hero-small: 4rem;
    /*hero-body-sizes*/
    --hero-body-large: 1.5rem;
    --hero-body-medium: 1.25rem;
    --hero-body-small: 1rem;
    /*button-text*/
    --button-text-large: 1.125rem;
    --button-text-medium: 1rem;
    --button-text-small: 0.875rem;
    /*label-text*/
    --label-large: 0.875rem;
    --label-medium: 0.75rem;
    --label-small: 0.625rem;
    /*line-height*/
    --line-height-large: 2.5rem;
    --line-height-medium: 2rem;
    --line-height-small: 1.5rem;
    /*button-heights*/
    --button-large: 36px;
    --button-medium: 32px;
    --button-small: 28px;
    /*border-radius*/
    --large-btn-border: 18px;
    --medium-btn-border: 16px;
    --small-btn-border: 14px;
    --container-border: 16px;
}   

* {
    /*position*/
    margin: 0;
    padding: 0;

    /*dimensions*/
    width: 100%;
    box-sizing: border-box;

    /*text*/
    text-decoration: none;
    color: var(--clr-light);
    font-family: var(--font-general)
}

body{

}

nav {
    /*position*/

    /*height*/
    height: 0;

    /*animation*/
    visibility: hidden;

}

header {
    /*dimensions*/
    height: 100vh;

    /*flex-box*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#landing-content {
    /*dimensions*/
    height: 100vh;
    /*box*/
    background-color: var(--clr-main);
}
#landing-content img {
    /*position*/
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*dimensions*/
    width: 100%;
    height: 100vh;
    display: block;
    /*image-effects*/
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(18, 55, 42, 0) 66.6%);
}

#landing-text{
    /*position*/
    padding: 0 10% 10%;
    /*dimensions*/
    height: 100vh;
    /*box*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*text*/
    line-height: var(--line-height-large);

}

#landing-text h1 {
    /*text*/
    font-family: var(--font-titles);
    font-size: var(--hero-large);
    line-height: 96px;
    text-align: right;
}

#landing-text a {
    /*position*/
    margin: 25px auto;
    /*dimensions*/
    height: var(--button-large);
    width: 200px;
    /*flex-box*/
    display: flex;
    justify-content: center;
    /*box*/
    background-color: var(--clr-light);
    border-radius: var(--large-btn-border);
    /*text*/
    font-size: var(--hero-body-large);
    text-align: center;
    color: var(--clr-main);
}